{% extends 'main.html' %}

{% block content %}

<title>About Us</title>
<br>
<h1>درباره ما</h1>
<br>


<h5> در حال حاضر تیم پشتیبانی وب سایت افراد زیر هستند:</h5>
<br>
<h6>شروین جهانبخش، دانشجوی دانشگاه صنعتی شریف در رشته مهندسی کامپیوتر، ورودی ۹۶</h6>
<h6>سینا احمدخانی، دانشجوی دانشگاه صنعتی شریف در رشته مهندسی کامپیوتر، ورودی ۹۷</h6>

<br>

<h1>تماس با ما</h1>

<br>

<h5>از طریق ایمیل:</h5>
<br>
<h6> <a href = "mailto: jahanshervin@yahoo.com" style="color: black;">شروین جهانبخش</a></h6>
<h6> <a href = "mailto: sina0ahmadkhani@gmail.com" style="color: black;">سینا احمدخانی</a></h6>

<br>

<h5>از طریق تماس تلفنی:</h5>
<br>

<h6><a href="tel:+989309079115" style="color: black;">شروین جهانبخش</a></h6>
<h6><a href="tel:+989212428725" style="color: black;">سینا احمدخانی</a></h6>
{% endblock content %}