{% extends 'main.html' %}

{% block content %}


<div class="container">
    <div>
        <div class="auction-card">
            <h1>{{ auction.product.name }} by {{auction.product.company.name}}</h1>
            <h2>Buying Price: <span class="price">{{ auction.current_price }}</span></h2>
            <p>Bid Duration: {{ auction.bid_duration }} Seconds</p>
            <p>Last Bidder: {% if auction.last_bidder %}{{ auction.last_bidder.username }}{% else %}None{% endif %}</p>
            <p>Product Description: {{auction.product.description}}</p>
            <p>Company Description: {{auction.product.company.description}}</p>
            <!-- Add more details or customizations here -->
        </div>
    </div>

</div>
{% endblock content %}


