{% extends "main.html" %}
{% block content %}

<script>
    const intervals = {};
    const finishTimes = {};
    const sockets = {};

    const hostname = window.location.hostname;
    const port = window.location.port;
    const baseUrl = `${hostname}${port ? `:${port}` : ''}`;
</script>

<br/>
<div class="row justify-content-center align-items-stretch">
    <div class="col-12 col-md-9 rounded p-3 border border-info">
        <h2>{{ auctions.count }} تعداد مزایده موجود است:</h2>
        <div class="row">
            {% for auction in auctions %}
            {% include "auction-card.html" with auction=auction %}
            {% endfor %}
        </div>
    </div>

    <div class="col-12 col-md-3 text-center h-100 won-auctions-container">
        <div class="rounded p-3 h-100 border border-info">
            <h2>مزایده‌هایی که بردید!</h2>
            <div class="row">
                <hr/>
                {% if request.user.is_authenticated %}
                {% for auction in won_auctions %}
                <div id="active-auction-{{ auction.id }}">
                    <a href="{% url 'auction' auction.id %}">{{ auction.product.name }}</a>
                    <div>قیمت: {{ auction.current_price }}</div>
                    {% if not auction.has_paid %}
                    <div>هنوز قیمت این مزایده را پرداخت نکرده اید.</div>
                    <form method="get" action={% url 'pay-auction' auction.id %}>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-warning w-100">تکمیل معامله</button>
                    </form>
                    {% endif %}

                    <hr/>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    برای مشاهده‌ی این قسمت، <a href="{% url 'login' %}">وارد</a> شوید.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="rounded p-3 h-100 border border-info">
            <h3>مزایده‌های در حال انجام شما</h3>
            <div class="row">
                <hr/>
                {% if request.user.is_authenticated %}
                {% if active_auctions %}

                {% for auction in active_auctions %}
                <div id="active-auction-{{ auction.id }}">
                    <a href="{% url 'auction' auction.id %}">{{ auction.product.name }}</a>
                    <div>قیمت: {{ auction.current_price|add:BID_STEP }}</div>
                    <hr/>
                </div>
                {% endfor %}
              {% else %}
                            <a>مزایده‌ی درحال انجام ندارید.</a>
                {% endif %}

                {% else %}
                <div>
                    برای مشاهده‌ی این قسمت، <a href="{% url 'login' %}">وارد</a> شوید.
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
</div>

{% endblock content %}