{% extends 'main.html' %}

{% block content %}

<title>Help</title>
<br>
<h1> راهنمای وب سایت</h1>

<br>
<h4>مزایده چگونه کار می‌کند؟</h4>
<h5>۱. هر پیشنهاد قیمت کالا را یک مقدار ثابت زیاد می‌کند که بین ۵۰۰ تا ۱۵۰۰ تومان است و به کالا بستگی دارد</h5>
<h5>۲. با هر پیشنهاد جدید، زمان باقیمانده مزایده از اول شروع می‌شود</h5>
<h5>۳. اگر تا قبل از پایان زمان پیشنهاد جدیدی داده نشود آخرین پیشنهاددهنده برنده می‌شود</h5>
<h5>۴. برای پیشنهاد دادن، به توکن مزایده احتیاج دارید که می‌توانید از صفحه خرید توکن بگیرید. هر پیشنهاد ۱ توکن مصرف می‌کند</h5>
{% endblock content %}