{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="container rounded-5 background_items m-auto mt-5">
    <div >

        {% for p in products %}
        <div class="row fs-4 text-center align-items-center p-2">
            <div class="col-3 m-auto">
                <div class="row">

                    <a href=" {% url 'product' p.id %}">
                        <img width="100px" height="auto"
                             src="{% if p.image %} /{{ p.image }} {% else %} {% static 'images/product.png' %} {% endif %}"
                             class="card-img-top rounded rounded-5"
                             alt=""
                            style="width:70%!important; height:auto!important;"></a>
                    <a class="text-black" href=" {% url 'product' p.id %}">{{ p.name }}</a>
                </div>
            </div>
            <!--            <div class="col-1"><a href=" {% url 'product' p.id %}">{{ p.name }}</a></div>-->
            <div class="col-2">توضیحات:<br/>{{ p.description }}</div>
            <div class="col-2">قیمت:<br/>{{ p.price }} تومان</div>
            <div class="col-2">شرکت:<br/>{{ p.company.name }}</div>
            <div class="col-2">نوع محصول:<br/>{{ p.category }}</div>


        </div>
        <hr/>
        {% endfor %}


    </div>
</div>
<!--   Calculate Total Price from every product + Add promo Code form to get a discount and calculate discount in the front   -->

{% endblock content %}