{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="container p-4">
    <div class="row">
        <div class="col-12 col-md-6 text-center p-4 fs-2">
            <div class="fs-4">توضیحات محصول: <br/> {{ product.description }}</div>
            <hr/>
            <div class="fs-4">توضیحات شرکت تولیدکننده: <br/> {{ product.company.description }}</div>
            <hr/>
            <div class="fs-4"> دسته بندی: <br/> {{ product.category }}</div>
            <hr/>
            <div id="price">قیمت: {{ product.price }} تومان</div>
            <hr/>
            <div class="d-flex flex-column align-items-stretch gap-2">

                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ product.id }}" name="product">
                    <button type="submit" class="btn btn-info w-100">اکنون بخرید</button>
                </form>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <div class="position-relative">
                <img width="100%" height="100%"
                     src="{% if product.image %} /{{ product.image }} {% else %} {% static 'images/product.png' %} {% endif %}"
                     class="rounded-5"
                     alt="">

                <img hidden width="90%" height="90%" id="sold-image" class="sold-image"
                     src="{% static 'images/sold-out.png' %}" alt="">
            </div>

            <div class="w-100 text-center fs-1 mt-2">
                محصول <strong>{{ product.name }}</strong> از
                <p><a class="text-black" href=" {% url 'company' product.company.id %}">
                    {{product.company.name }}</a></p>
            </div>
        </div>
    </div>
</div>

<hr/>

<div class="container bg-light m-4 mx-auto rounded background_auction">

    <div class="row justify-content-center rounded d-flex flex-column  m-auto">

        <div style="margin-top: 10px; margin-bottom: 10px;"><h2>{{ auctions.count }} تعداد مزایده از این محصول موجود
            است:</h2></span>
            <div style="margin-top: 20px; margin-bottom: 10px;" class="row">
                {% for auction in auctions %}
                {% include "auction-card.html" with auction=auction %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
