{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="container">

    {% for p in products %}
    <div class="row fs-4 text-center align-items-center p-2">
        <div class="col-2">
            <img width="100%" height="100%" src="{% if p.image %} /{{ p.image }} {% else %} {% static 'images/product.png' %} {% endif %}" alt="">
        </div>
        <div class="col-2">{{ p.name }} </div>
        <div class="col-3">توضیحات:<br />{{ p.description }}</div>
        <div class="col-3">قیمت:<br />{{ p.price }} تومان</div>
        <div class="col-2">شرکت:<br />{{ p.company.name }} </div>
        <div class="col-2">نوع محصول:<br />{{ p.category }} </div>


    </div>
    <hr />
    {% endfor %}


</div>
<!--   Calculate Total Price from every product + Add promo Code form to get a discount and calculate discount in the front   -->

{% endblock content %}