{% extends 'main.html' %}

{% block content %}

<h2>{{user.username}}</h2>

{% if owner_user %}
    <h3>The bids you have placed on auctions:</h3>
    <hr>
    {% for bid in bids %}
        <div>
            <small>{{bid.auction.product.name}} </small>
            <p>at price: {{bid.auction.current_price}}</p>
            <p>at: {{bid.created_at}}</p>
            <hr>
        </div>
    {% endfor %}
{% endif %}

    {% if owner_user %}
        <h3>The Deals you have made on this site:</h3>
    {% else %}
        <h3>The Deals {{user.username}} have made on this site:</h3>

    {% endif %}
    <hr>

    {% for deal in deals %}
        <div>
            <small>@{{deal.product.name}} {{deal.date_modified}} ago</small>
            <p>by: {{deal.deal_type}}ing</p>
            <p>at price: {{deal.transaction.price}}</p>
            <p>Item's real price:{{deal.product.price}}</p>
            <hr>
        </div>
    {% endfor %}

{% endblock content %}