{% extends "main.html" %}
{% load static %}

{% block content %}

<div class="container d-flex flex-column align-items-center mt-4">
    <img class="rounded-circle" width="10%" height="10%" src="{% if user.avatar %}/{{ user.avatar }}{% else %} {% static "images/profile.png" %} {% endif %}" alt="">
    <h1>{{ user.username }}</h1>

    {% if user.bio %}
    <h6>{{ user.bio }}</h6>
    {% endif %}

    {% if owner_user %}
    <a href="{% url 'update-user' %}" class="btn btn-info">ویرایش پروفایل</a>
    {% endif %}

    <br />

    <div class="accordion w-100" id="accordionExample">
        {% if owner_user %}
            <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                پیشنهادهای شما
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    {% for bid in bids %}
                        <div>
                            <p>{{ bid.auction.product.name }}</p>
                            <p>با قیمت: {{ bid.price }}</p>
                            <p>در تاریخ: {{ bid.created_at }}</p>
                            <hr />
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        {% endif %}

        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              معاملات
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                {% for deal in deals %}
                    <div>
                        <p>محصولات خریده شده:</p>
                        {% for buying_product in deal.cart.products.all %}
                            <p> محصول: {{ buying_product.product.name }}</p>
                            <p>تعداد: {{ buying_product.quantity }}</p>
                        {% endfor %}
                        {% if deal.deal_type == 'Auction' %}
                        <p>این معامله مزایده بوده است </p>
                        {% else %}
                        <p>این معامله خرید بوده است </p>
                        {% endif %}
                        <small>در تاریخ: {{ deal.date_modified }}</small>

<!--                        <p>نوع معامله: {{ deal.deal_type }}</p>-->
                        <p>با قیمت: {{ deal.transaction.price }}</p>
                        <hr>
                    </div>
                {% empty %}
                    معامله‌ای وجود ندارد!
                {% endfor %}
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock content %}