{% extends "main.html" %}

{% block content %}

<div class="container my-4 py-4 profile_list">
    <h3>ویرایش اطلاعات کاربری</h3>
    <hr />

    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group text-right">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
            </div>

            <br />
        {% endfor %}

        <div class="w-100 text-center">
            <button class="btn btn-success w-50 mb-4" type="submit">ویرایش</button>
        </div>
    </form>
</div>

{% endblock content %}
