{% load static %}

<div class="col-12 col-md-6 col-lg-4">
  <a class="text-decoration-none text-dark" href="{% url 'auction' auction.id %}">
    <div class="card p-2 mb-4">
      <div class="img-container m-auto">
        <img
          width="auto"
          height="auto"
          src="{% if auction.product.image %}/{{ auction.product.image }} {% else %} {% static 'images/product.png' %} {% endif %}"
          class="card-img-top"
          alt=""
        />
        <img hidden width="auto" height="auto" id="{{ auction.id }}-sold-image" class="sold-image" src="{% static 'images/sold-out.png' %}" alt="">
      </div>
      <div class="card-body auction-card-shade">
        <h3 class="card-title text-center">{{ auction.product.name }}</h3>
        <div class="card-text">
          <div id="{{ auction.id }}-price" class="margin_text">
            قیمت: {{ auction.current_price }}
          </div>
          <div id="{{ auction.id }}-last-bidder" class="=margin_text">
            {% if auction.end_time %}
              برنده:
            {% else %}
              آخرین پیشنهاد:
            {% endif %}

            {% if auction.last_bid %}
            <a href="{% url 'user-profile' auction.last_bid.user.id %}">
              {{ auction.last_bid.user.username }}
            </a>
            {% else %} هیچکس {% endif %}
          </div>
          <h4 id="{{ auction.id }}-time" class="w-100 text-center margin_text">

            {% if not auction.last_bid %}
              هنوز شروع نشده!
            {% elif auction.end_time %}
              فروخته شد!
            {% else %}
              00:00
            {% endif %}
          </h4>
        </div>

        <div class="d-flex flex-column align-items-stretch gap-2">
          <form method="post" action="{% url 'create-bid-home' auction.id %}">
            {% csrf_token %}
            <button
            {% if auction.end_time or auction.last_bid and auction.last_bid.user.id == request.user.id %}
              disabled
            {% endif %}
            id="{{ auction.id }}-bid-button"
            class="btn btn-success w-100 "
            type="submit">
              پیشنهاد
            </button>
          </form>
          <form method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{ auction.product.id }}" name="product">
                  <button type="submit" class="btn btn-info w-100 double_btn">اکنون بخرید</button>
          </form>
        </div>
      </div>
    </div>
  </a>
</div>

{% if auction.end_time %}
  <script>
    document.getElementById("{{ auction.id }}-sold-image").hidden = false;
  </script>
{% endif %}

{% if auction.last_bid and not auction.end_time %}
  <script>
    finishTimes[{{ auction.id }}] = new Date("{{ auction.last_bid.created_at|date:'Y-m-d\TH:i:s\Z' }}");
    finishTimes[{{ auction.id }}].setSeconds(finishTimes[{{ auction.id }}].getSeconds() + {{ auction.bid_duration }});
    intervals[{{ auction.id }}] = setInterval(() => {
      const remainingTime = Math.floor((finishTimes[{{ auction.id }}] - Date.now()) / 1000);
      if (remainingTime < 0) {
        clearInterval(intervals[{{ auction.id }}]);
        document.getElementById("{{ auction.id }}-sold-image").hidden = false;
        document.getElementById("{{ auction.id }}-time").innerText = "فروخته شد!"
        document.getElementById("{{ auction.id }}-bid-button").disabled = true;
        return;
      }
      const remainingTimeString = `${String(Math.floor(remainingTime / 60)).padStart(2, '0')}:${String(remainingTime % 60).padStart(2, '0')}`;
      document.getElementById("{{ auction.id }}-time").innerText = remainingTimeString;
    }, 1000);
  </script>
{% endif %}

{% if not auction.end_time %}
  <script>
    sockets[{{ auction.id }}] = new WebSocket(`ws://${baseUrl}/ws/auction/{{ auction.id }}`);

    sockets[{{ auction.id }}].onopen = () => {
      console.log('WebSocket connection opened.');
    };

    // Event handler for WebSocket received message
    sockets[{{ auction.id }}].onmessage = (event) => {
      const message = JSON.parse(event.data);
      console.log('Received message:', message);

      document.getElementById("{{ auction.id }}-last-bidder").innerHTML = `آخرین پیشنهاد: <a href="/profile/${message.id}">${message.name}</a>`
      document.getElementById("{{ auction.id }}-price").innerText = `قیمت: ${message.price} تومان`


      finishTimes[{{ auction.id }}] = new Date(message.created_at);
      finishTimes[{{ auction.id }}].setSeconds(finishTimes[{{ auction.id }}].getSeconds() + {{ auction.bid_duration }});

      if (!intervals[{{ auction.id }}]) {
        intervals[{{ auction.id }}] = setInterval(() => {
          const remainingTime = Math.floor((finishTimes[{{ auction.id }}] - Date.now()) / 1000);
          if (remainingTime < 0) {
            clearInterval(intervals[{{ auction.id }}]);
            document.getElementById("{{ auction.id }}-sold-image").hidden = false;
            document.getElementById("{{ auction.id }}-time").innerText = "فروخته شد!";
            document.getElementById("{{ auction.id }}-bid-button").disabled = true;
            return;
          }
          const remainingTimeString = `${String(Math.floor(remainingTime / 60)).padStart(2, '0')}:${String(remainingTime % 60).padStart(2, '0')}`;
          document.getElementById("{{ auction.id }}-time").innerText = remainingTimeString;
        }, 1000);
      }
    };

    // Event handler for WebSocket connection close
    sockets[{{ auction.id }}].onclose = () => {
      console.log('WebSocket connection closed.');
    };

    // Event handler for WebSocket connection error
    sockets[{{ auction.id }}].onerror = (error) => {
      console.error('WebSocket error:', error);
    };
  </script>
{% endif %}