{% load static %}

<div class="col-6 col-md-4">
  <a class="text-decoration-none text-dark" href="{% url 'auction' auction.id %}">
    <div class="card p-2 mb-4">
      <div class="img-container">
        <img
          width="100%"
          height="100%"
          src="{% if auction.product.image %} {{ auction.product.image }} {% else %} {% static 'images/product.png' %} {% endif %}"
          class="card-img-top"
          alt=""
        />
        <img hidden width="90%" height="90%" id="{{ auction.id }}-sold-image" class="sold-image" src="{% static 'images/sold-out.png' %}" alt="">
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ auction.product.name }}</h3>
        <div class="card-text">
          <div>
            قیمت: {{ auction.current_price }}
          </div>
          <div>    
            {% if auction.end_time %}
              برنده:
            {% else %}
              آخرین پیشنهاد:
            {% endif %}

            {% if auction.last_bid %}
            <a href="{% url 'user-profile' auction.last_bid.user.id %}">
              {{ auction.last_bid.user.username }}
            </a>
            {% else %} هیچکس {% endif %}
          </div>
          <h4 id="{{ auction.id }}-time" class="w-100 text-center">
            {% if not auction.last_bid %}
              هنوز شروع نشده!
            {% elif auction.end_time %}
              فروخته شد!
            {% else %}
              00:00
            {% endif %}
          </h4>
        </div>

        <div class="d-flex flex-column align-items-stretch gap-2">
          <form method="post" action="{% url 'create-bid-home' auction.id %}">
            {% csrf_token %}
            <button 
            {% if auction.end_time or auction.last_bid and auction.last_bid.user.id == request.user.id %}
              disabled
            {% endif %}
            class="btn btn-success w-100"
            type="submit">
              پیشنهاد
            </button>
          </form>
          <a href="#" class="btn btn-info">اکنون بخرید</a>
        </div>
      </div>
    </div>
  </a>
</div>

{% if auction.end_time %}
  <script>
    document.getElementById("{{ auction.id }}-sold-image").hidden = false;
  </script>
{% endif %}

{% if auction.last_bid and not auction.end_time %}
  <script>
    finishTimes[{{ auction.id }}] = new Date("{{ auction.last_bid.created_at|date:'Y-m-d\TH:i:s\Z' }}");
    finishTimes[{{ auction.id }}].setSeconds(finishTimes[{{ auction.id }}].getSeconds() + {{ auction.bid_duration }});
    intervals[{{ auction.id }}] = setInterval(() => {
      var remainingTime = Math.floor((finishTimes[{{ auction.id }}] - Date.now()) / 1000);
      if (remainingTime < 0) {
        clearInterval(intervals[{{ auction.id }}]);
        document.getElementById("{{ auction.id }}-sold-image").hidden = false;
        document.getElementById("{{ auction.id }}-time").innerText = "فروخته شد!"
        return;
      }
      var remainingTimeString = `${String(Math.floor(remainingTime / 60)).padStart(2, '0')}:${String(remainingTime % 60).padStart(2, '0')}`;
      document.getElementById("{{ auction.id }}-time").innerText = remainingTimeString;
    }, 1000);
  </script>
{% endif %}